@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&family=Kurale&family=Lato:wght@400;700;800&family=Poppins:wght@400;600;700&family=Raleway:wght@500;700&family=Roboto:wght@100;400;700&family=Merriweather+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Sacramento&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.box-shadoww {
  box-shadow: 5px 5px white;
}
.first-image {
  background-image: linear-gradient(green, green), url("/assets/lib.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
}
.second-image {
  background-image: linear-gradient(green, green), url("/assets/data.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
}

.third-image {
  background-image: linear-gradient(green, green), url("/assets/electric.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
}

.fourth-image {
  background-image: linear-gradient(green, green), url("/assets/fuel.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
}
